[Unit]
Description=alcuin-scraper-service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/alcuin-scrapper/src/worker.py

[Install]
WantedBy=multi-user.target