[Unit]
Description=alcuin-scraper-service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/alcuin-scrapper/worker.sh

[Install]
WantedBy=multi-user.target